/* -------Defaults------- */
body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: hsl(0, 0%, 94%); */
}

p,
td {
    font-size: .9rem;
}

h3,
.h3-font {
    font-size: 1.4rem;
}

h4,
.h4-font {
    font-size: 1.1rem;
}


/* ------Header Navbar Styles------ */
#header .page-title {
    font-weight: bolder;
}

.navbar-top {
    background-color: #002E94;
}

.navbar-top .navbar-brand {
    color: #fff;
    padding-left: 12px;
}

.navbar-top .nav-item .nav-link {
    color: #fff;
}



/* ------End Navbar Styles------ */

/* -----custom------- */
.custom-border {
    border: 1px #C8C8C8 solid;
    border-radius: 5px;
    padding: 10px 10px;
    height: 100%;
}

.custom-hide {
    display: none;
}

.dropdown-content {
    display: none;
}

.dropdown-content.show {
    display: block;
}

.show-div{
    display: block;
}

/* -----end custom------- */

/* Content Section */


/* ------Side Navbar Styles------ */

#sideNav {
    box-sizing: content-box;
    background: #2C384A;
    padding: 0;
    min-height: 100vh;
}


#sideNav a,
i {
    color: #fff;
}



#sideNav .navbar-nav .side-button-logo {
    margin-top: 1.2rem;
    color: #fff;
    display: none;

}



#sideNav .navbar .sub-title {
    color: #fff;
    width: 100%;
    height: auto;
    padding: 20px 0;
    font-size: 1rem;
    padding-left: 12px;

}



#sideNav .navbar-nav .nav-item {
    margin: 10px 15px;
    line-height: 1.5;
}

#sideNav .navbar-nav .nav-item {
    margin-top: 0;
    margin-bottom: 0;
}


#sideNav .navbar-nav i {
    padding: 6px 12px;
}

#sideNav ul li:hover {
    color: #11101d;
    background: #566B75;
    border-radius: 5px;
    transition: all .5s ease;
}

/* -----Banner Right----- */
.calendar-mini img {
    width: 100%;
}

/* -----End Banner Right----- */


/* -----Responsive Layout----- */
@media(max-width: 767px) {

    /* Collapse */
 
    /*Removing the overflow*/
    #content .row {
        overflow: hidden;
    }

    .navbar-top .navbar-brand {
        padding-left: 0;
    }

    #sideNav {
        position: absolute;
        width: 10%;
        height: 2500px;
        /*adjust when more content*/
        /* min-height: 100%; edit */
        transition: all .5s ease;
    }

    #sideNav.customActive {
        width: 60%;
    }

    #sideNav .navbar-nav .side-button-logo {
        display: block;

    }

    #sideNav.customActive .side-button-logo {
        text-align: left;
    }


    #sideNav .navbar-nav .sub-title {
        /* come */
        display: none;
        transition: all .5s ease;

    }

    #sideNav.customActive .navbar-nav .sub-title {
        display: block;
        transition: all .5s ease;

    }

    #sideNav .navbar-nav .search-input {
        /* come */
        display: none;
        transition: all .5s ease;

    }

    #sideNav.customActive .navbar-nav .search-input {
        display: inline-block;
        transition: all .5s ease;

    }


    #sideNav li.nav-item {
        transition: all .5s ease;
        margin: 0 !important;
    }

    #sideNav.customActive li.nav-item {
        margin: 10px 15px !important;

    }

    #sideNav li span {
        transition: all .5s ease;
        display: none;
    }

    #sideNav.customActive li span {
        display: inline-block;
    }

    /* student.profile.php */
    #studentProfile .student-parent {
        justify-content: start !important;
        margin-top: 1rem;
    }

    /* ---------------Main content----------------*/
    .main-content {
        position: absolute;
        width: calc(100% - 10%);
        left: 10%;
        min-height: 100%;
        transition: all .5s ease;
    }

    #sideNav.customActive~.main-content {
        width: calc(100% - 60%);
        left: 60%;
    }


    /* Hide the Right banner */
    #rightBanner {
        display: none;
    }
}

@media(max-width: 575px) {

    #sideNav {
        width: 10%;
        transition: all .5s ease;
    }

    #sideNav.customActive {
        width: 90%;
    }

    /* ---------------Main content----------------*/
    #sideNav.customActive~.main-content {
        width: calc(100% - 90%);
        left: 90%;
    }

}